node_modules/
package-lock.json
yarn.lock

dist/
_dist/
build/
out/
*.tsbuildinfo

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.log
*.json

!package.json
!tsconfig.json
!.eslintrc.json
*.tmp
*.bak
*.swp

coverage/

.env
.todo
LICENSE

.next